{% extends 'main.html' %}

{% block content %}

<style>
    .room-container{
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
</style>

<div class="room-container">

    <div>

        <h2>{{room.name}}</h2>

        <h4>{{room.description}}</h4>

<div class="comment-wrapper">
    <h5>conversation</h5>
    <hr>
    {% for message in messages1 %}
        <div>
            {% if request.user == message.user %}
            <a href="{% url 'delete_message' message.id %}">Delete</a>
            {% endif %}
            <small>@{{message.user}} {{message.created|timesince}}</small>
            <p>{{message.body}}</p>
            <hr>

        </div>

    {% endfor %}

</div>

{% if request.user.is_authenticated %}

<div class="comment-form">
    <form method="POST" action="">
    {% csrf_token %}
    {{ form.as_p}}
    <input type="text" name="comment" placeholder="comment"/>
    </form>
</div>

{% endif %}

</div>

<div>
   <h3> participants</h3>
   <hr>
   {% for participant in participants %}
       <h5>@{{participant.username}}</h5>
   {% endfor %}
</div>

</div>

{% endblock content %}